.magical-attack{
    background-color: blue;
    width:250px;
    height:250px;
    border-radius: 50%;
}

.div-play-game-for-random-reward-duel{
    margin:0 auto;
}

.div-game-container{
    margin-left:10%;
}


.game-duel{
    display:flex;
    flex-wrap: wrap;
}

.magical-attack{
    border:2px solid black;
}