

body {
    font-style: oblique;
    background-color: #1e1e1e;
    text-align: center;

}

.hide {
    display: none;
}


/* Reset some default styles */
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}




.no-display{
    display: none;
}


h1{ 
font-size:18px;
}

  