/* Battle Overlay Styles */
.battle-overlay {
    position: relative;
    border-radius: 10px; /* Rounded corners for a sleek look */
    padding: 20px; /* Add padding for spacing */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); /* Futuristic glow effect */
    margin-top: -7rem;
    background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
}

.div-battle-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top:10%;
}

.div-battle-container h1{
    font-size: 16px;
}

/* Player Side Styles */
.div-battle-player-side {
    flex: 1;
    margin-top:-1%;
}

.div-container-player-side {
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
    display:flex;
    color: #00ff00; /* Futuristic green text color */
}

.div-container-enemy-side {
    margin: 0 auto;
    text-align: center;
    color: #ff0000; /* Futuristic red text color */
}


.button-controls-for-player-combat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.button-player-control {
    background-color: #61dafb; /* Futuristic blue background color */
    color: #282c34; /* Dark bluish-gray text color */
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition effect */
}

/* Hover effect for the buttons */
.button-player-control:hover {
    background-color: #282c34; /* Dark bluish-gray background color */
    color: #61dafb; /* Futuristic blue text color */
    transition: 1s;
    transform: scale(0.98);
    box-shadow: 2px 2px 2px 2px black;
}


.div-player-background-img{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border: white 2px solid;
    background-position: center;
    position:absolute;
    margin-top:-37%;
    margin-left:15%;
}

.div-player-image{
    border-radius:20%;
    border:2px solid green;
}

.div-player-image:hover{
    transform: scale(1.25) rotate(5deg);
    z-index: 10;
    border-radius:30%;
    transition: 1.5s;
}

.div-container-player-side-img{
    width:500px;
    height:500px;
    border-radius:30%;
    border: gold 2px solid;
}
.div-container-player-side-img:hover{
    transform: rotate(20deg);
    transition: 2s;
    border: 2px black solid;
    box-shadow: 4px 4px 4px 10px white;
}
.struck{
    /* transform: rotate(45deg); */
    border: 2px solid red;
    transform: scale(1.2);
    transition: 4s;
}

.div-battle-enemy-side{
    margin-right:3%;
}