
.enemy1 {
    background-image: url('/images/Enemies/enemy1.jpg');
}

.enemy2 {
    background-image: url('/images/Enemies/enemy2.jpg');
}

.enemy3 {
    background-image: url('/images/Enemies/enemy3.jpg');
}

.enemy4 {
    background-image: url('/images/Enemies/enemy4.jpg');
}

.enemy5 {
    background-image: url('/images/Enemies/enemy5.jpg');
}

.enemy6 {
    background-image: url('/images/Enemies/enemy6.jpg');
}

.enemy7 {
    background-image: url('/images/Enemies/enemy7.jpg');
}

.enemy8 {
    background-image: url('/images/Enemies/enemy8.jpg');
}

.enemy9 {
    background-image: url('/images/Enemies/enemy9.jpg');
}

.enemy10 {
    background-image: url('/images/Enemies/enemy10.jpg');
}

.enemy11 {
    background-image: url('/images/Enemies/enemy11.jpg');
}

.enemy12 {
    background-image: url('/images/Enemies/enemy12.jpg');
}

.enemy13 {
    background-image: url('/images/Enemies/enemy13.jpg');
}

.enemy14 {
    background-image: url('/images/Enemies/enemy14.jpg');
}

.enemy15 {
    background-image: url('/images/Enemies/enemy15.jpg');
}
.enemy16 {
    background-image: url('/images/Enemies/enemy16.jpg');
}
.enemy17 {
    background-image: url('/images/Enemies/enemy17.jpg');
}
.enemy18 {
    background-image: url('/images/Enemies/enemy18.jpg');
}
.enemy19 {
    background-image: url('/images/Enemies/enemy19.jpg');
}

.enemy20 {
    background-image: url('/images/Enemies/enemy20.jpg');
}

.enemy21 {
    background-image: url('/images/Enemies/enemy21.jpg');
}

.enemy22 {
    background-image: url('/images/Enemies/enemy22.jpg');
}

.enemy23 {
    background-image: url('/images/Enemies/enemy23.jpg');
}

.enemy24 {
    background-image: url('/images/Enemies/enemy24.jpg');
}
.enemy25 {
    background-image: url('/images/Enemies/enemy25.jpg');
}
