/* Default hidden state */
.div-farming-container {    
    opacity: 0;
    transform: translateY(20px); /* Move down slightly to create a fade-in effect */
    pointer-events: none; /* Disable pointer events when hidden */
    /* display: flex; */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition effect */
    border:1px solid white;
    width:100vw;
}

.h1-farming{
padding: .2rem;
margin:.2rem;
text-decoration: underline;

}

/* Styles for the state */
.div-farming-container {
    opacity: 1;
    transform: translateY(0);    
    pointer-events: auto; /* Enable pointer events when */
}

.div-farming-container h1 {
    color: #61dafb; /* Futuristic blue text color */
}

/* Styles for the table */
.div-farming-container table {
    margin:0 auto;
    width: 50%;

    border-collapse: collapse;
}

.div-farming-container th,
.div-farming-container td {
    border: 1px solid #61dafb; /* Futuristic blue border for cells */
    text-align: center;
    padding: 10px;
}
.div-farming-container td{
    color: #61dafb;
}
.div-farming-container th {
    background-color: #282c34; /* Dark bluish-gray background color */
    color: #61dafb; /* Futuristic blue text color */
}

/* Styles for table rows */
.div-farming-container td.td-quantity-farm,
.div-farming-container td.td-value-farm,
.div-farming-container td.td-price-farm {
    text-align: center;
    color: #61dafb; /* Futuristic blue text color */
}

/* Styles for buttons */
.div-farming-container .sell-farm-btn,
.div-farming-container .upgrade-farm-btn {
    background-color: #61dafb; /* Futuristic blue background color */
    color: #1e1e1e; /* Dark text color for contrast */
    border: none;
    padding: 8px 16px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition effect on hover */
}



.div-farming-container .sell-farm-btn:hover,
.div-farming-container .upgrade-farm-btn:hover {
    background-color: #1e1e1e; /* Darker background color on hover */
    color:white;
    color:indigo;
    border:1px solid white;
}

.div-img-farm {
    width:100px;
    height:100px;
    border:1px solid white;
    margin-bottom:1%;
}

.corn{
    background-image: url('/images/farming/corn.jpg');
}

.chicken{
    background-image: url('/images/farming/smallChicken.jpg');
}



.div-farm-images{
    display:flex;
    flex-wrap: wrap;
}

.pig{
    background-image: url('/images/farming/pig.jpg');
}

.potatoes{
    background-image: url('/images/farming/potatoes.jpg');
    width:100px;
    height:100px;
    background-image: center;
}

.eggs{
    background-image: url('/images/farming/eggs.jpg');
}

.carrots{
    background-image: url('/images/farming/carrots.jpg');
}

.cow{
    background-image: url('/images/farming/cow.jpg');
}


.div-farm-images{
    width:100%;
    display:flex;
    justify-content: center;
    margin: 0 auto;
}

.house-element{
    background-position: center;
    border: 2px white solid;
    box-shadow: 2px 2px 2px 2px white;
}