/* Default hidden state */
.div-harvesting-container {
    opacity: 0;
    transform: translateY(20px); /* Move down slightly to create a fade-in effect */
    pointer-events: none; /* Disable pointer events when hidden */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition effect */
    width:100%;
    margin:0 auto;
    border:2px solid black;
    box-shadow:2px 2px 2px 2px black;
}

.h1-element-title{
    padding:.2rem;
    text-decoration: underline;
}

/* Styles for the state */
.div-harvesting-container {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; /* Enable pointer events when */
}

/* Styles for the harvesting title */
.div-harvesting-container h1 {
    color: #61dafb; /* Futuristic blue text color */
    margin-top:2%;
}

/* Styles for the population count */
.div-harvesting-container .h1-population-harvest {
    margin-top: 10px;
    color: #61dafb; /* Futuristic blue text color */
}

/* Styles for the harvesting elements container */
.div-harvesting-container .div-harvesting-elements-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border:1px solid white;
}

/* Styles for each harvesting element item */
.div-harvesting-container .div-elements-harvest-item {
    width: 22%;
    margin: 10px;
    text-align: center;
    background-color: #282c34; /* Dark bluish-gray background color */
    padding: 20px;
    border-radius: 10px;
}

.div-elements-harvest-item{
    border:2px solid black;
    box-shadow:2px 2px 2px 5px black;
    background-color: grey;
}

/* Styles for element titles */
.div-harvesting-container .h1-element-title {
    color: #61dafb; /* Futuristic blue text color */
}

/* Styles for the images associated with each element */
.div-harvesting-container .img-for-harvest {
    width: 300px;
    height: 300px;
    margin: 10px auto;
    background-size: cover;
    border: 1px solid #61dafb; /* Futuristic blue border */
    border-radius: 50%;
}

/* Styles for the harvesting requirements and returns */
.div-harvesting-container .h1-harvest-requirements,
.div-harvesting-container .h1-harvest-return,
.div-harvesting-container .h1-total-essence {
    color: #61dafb; /* Futuristic blue text color */
}

/* Styles for the harvest button */
.div-harvesting-container .button-harvest-mana {
    background-color: #61dafb; /* Futuristic blue background color */
    color: #282c34; /* Dark bluish-gray text color */
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Hover effect for the harvest button */
.div-harvesting-container  {
    background-color: #282c34; /* Dark bluish-gray background color */
    color: #61dafb; /* Futuristic blue text color */
}
.button-harvest-mana:hover{
    transform: scale(0.98);
    transition: 1.2;
    background-color: aqua;
    box-shadow: 2px 2px 2px 2px black;
}

.img-for-harvest:hover{
transition: 2.5s;
rotate: 360deg;
transform: scale(1.25);
border:1px solid gold;
box-shadow: 2px 2px 2px 4px solid black;
}